/**************************/
/* BASE COMPONENTS */
/**************************/
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 61.25em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #082509;

  background-color: #a2bca2;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 8vw);
}

.container {
  height: 100vh;
  margin: 0;
  background-color: #88a488;
  border-radius: 0;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba(97, 85, 81, 0.2);
  display: grid;
  grid-template-rows: 10rem minmax(100rem, auto);
  grid-template-columns: 1fr 1.5fr;
  grid-template-areas: "head head" "list recipe";
}
@media only screen and (max-width: 78.15em) {
  .container {
    max-width: 100%;
    margin: 0;
    border-radius: 0;
  }
}

/**************************/
/* HEADER COMPONENTS */
/**************************/
.header {
  display: flex;
  grid-area: head;
  justify-content: space-between;
  align-items: center;
  background-color: #e7ede7;
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 2.2rem;
}

.search {
  border-radius: 2rem;
  display: flex;
  align-items: center;
  padding-left: 6rem;
  transition: all 0.3s;
  height: 60%;
}

.search-field {
  border: 3px solid #9fb6a0;
  font-family: inherit;
  color: inherit;
  font-size: 1.7rem;
  width: 30rem;
  height: 100%;
  border-radius: 1rem;
}

.search-field:focus {
  outline: none;
  border: 0.5rem solid #104911;
}

.search-btn {
  text-decoration: none;
  color: #e7ede7;
  background-color: #406d41;
  font-weight: 600;
  font-size: 1.8rem;
  height: 100%;
  font-family: inherit;
  cursor: pointer;
  padding: 1.5rem 2.5rem;
  display: flex;
  align-items: center;
  border: none;
  margin: 1.6rem;
  border-radius: 12px;
  transition: all 0.3s;
}

.search-btn:hover,
.search-btn:focus {
  transform: scale(1.05);
  background-color: #104911;
  outline: none;
  border: 0.5rem solid #406d41;
}

.nav {
  align-self: stretch;
  margin-right: 2.5rem;
  display: flex;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.nav-item {
  position: relative;
}

.nav-btn {
  text-decoration: none;
  color: #e7ede7;
  background-color: #406d41;
  font-weight: 500;
  font-size: 1.8rem;
  height: 100%;
  font-family: inherit;
  cursor: pointer;
  padding: 1.5rem 2.5rem;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 12px;
  transition: all 0.3s;
}

.nav-btn:hover {
  transform: scale(1.05);
  color: #e7ede7;
  background-color: #104911;
  outline: none;
  border: 0.5rem solid #406d41;
}

/**************************/
/* SEARCH RESULT COMPONENTS */
/**************************/

.search-results {
  background-color: #cfdbcf;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}

.results {
  list-style: none;
  margin-bottom: 2rem;
  overflow-y: scroll;
  max-height: 58.75rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.results::-webkit-scrollbar {
  display: none;
}

/**************************/
/* SORT BUTTON COMPONENTS */
/**************************/

.button-box {
  display: flex;
  align-items: center;
  margin-left: 4rem;
  margin-bottom: 1rem;
}

.sort-button {
  border: none;
  font-weight: 600;
  font-size: 1.8rem;
  background-color: #e7ede7;
  color: #406d41;
  width: 16rem;
  height: 3.2rem;
  border-radius: 10px;
}
.sort-button:hover,
.sort-button:focus {
  border: none;
  background-color: #9fb6a0;
  color: #0d3a0e;
}

/**************************/
/* PREVIEW COMPONENTS */
/**************************/
.preview__link:link,
.preview__link:visited {
  display: flex;
  align-items: center;
  padding: 1.5rem 3.25rem;
  transition: all 0.3s;
  border-right: 1px solid #fff;
  text-decoration: none;
}
.preview__link:hover {
  background-color: #ecf1ec;
  transform: translateY(-2px);
}
.preview__link--active {
  background-color: #ecf1ec;
}
.preview__fig {
  flex: 0 0 5.8rem;
  border-radius: 50%;
  overflow: hidden;
  height: 5.8rem;
  margin-right: 2rem;
  position: relative;
  backface-visibility: hidden;
}
.preview__fig::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right bottom, #285b29, #0d3a0e);
  opacity: 0.1;
}
.preview__fig img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
.preview__data {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2rem;
  row-gap: 0.5rem;
  align-items: center;
}
.preview__title {
  grid-column: 1/-1;
  font-size: 1.8rem;
  color: #104911;
  text-transform: uppercase;
  font-weight: 600;
  text-overflow: ellipsis;
  max-width: 25rem;
  white-space: nowrap;
  overflow: hidden;
}
.preview__organizer {
  font-size: 1.5rem;
  color: #5c5a5a;
  font-weight: 600;
}
.preview__user-generated {
  background-color: #ecf1ec;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  border-radius: 10rem;
  margin-left: auto;
  margin-right: 1.75rem;
}

/**************************/
/* EVENT COMPONENTS */
/**************************/
.event {
  background-color: #e7ede7;
}
.event__fig {
  height: 32rem;
  position: relative;
  transform-origin: top;
}
.event__fig::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right bottom, #285b29, #0d3a0e);
  opacity: 0.1;
}
.event__img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}
.event__title {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 20%);
  color: #fff;
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
  width: 70%;
  line-height: 1.95;
  text-align: center;
}
.event__title span {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 1.3rem 2rem;
  background-color: #104911;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
@media only screen and (max-width: 61.25em) {
  .event__title {
    width: 70%;
  }
}
.event__details {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 5rem 5rem 6rem 5rem;
  grid-gap: 1.8rem;
}

.event__info-row {
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.event__info-column {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.event__info-data {
  margin-left: 1rem;
  font-weight: 500;
}

.event__info-text {
  margin-left: 1rem;
  font-weight: 400;
}
.event__info-buttons {
  color: #0d3a0e;
}

.event__info-buttons:hover,
.event__info-buttons:focus,
.event__info-buttons:active {
  color: #e18b00;
}

.event__organizer {
  font-weight: 700;
}

/**************************/
/* EVENT COMPONENTS */
/**************************/
