/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .results {
    max-height: 96rem;
  }

  .container {
    grid-template-columns: 0.5fr 1.5fr;
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }

  .search {
    display: none;
  }

  .container {
    grid-template-columns: 1fr 2fr;
  }
  .search-results {
    width: 40rem;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 45%;
  }

  .event__info-row {
    flex-direction: column;
  }
  .container {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: auto auto auto;
  }

  .search-results {
    grid-row: 3;
    grid-column: 1 / -1;
    width: auto;
    max-height: 50rem;
  }

  .event {
    grid-row: 2;
    grid-column: 1 / -1;
  }
}
/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  html {
    font-size: 40%;
  }

  .add-event-popup {
    padding: 3rem 5rem;
    width: 50rem;
  }
  .upload__column {
    grid-template-columns: 1fr;
    padding: 0;
    gap: 1rem;
  }
}

/**************************/
/* BELOW 360px (Phones) */
/**************************/
@media (max-width: 23em) {
  html {
    font-size: 40%;
  }
  .preview__link:link {
    padding: 1rem;
  }

  .preview__organizer {
    display: none;
  }
  .preview__title {
    font-size: 1rem;
  }
}
